# Virtual environment
.venv
venv/
venv.bak/

# IDE settings
.idea/
.vscode/

# System files
.DS_Store

# Database files
*.sqlite3

# Byte-compiled Python files
__pycache__/
*.pyc

# Environment variables
.env
env/
ENV/
venv.bak/